<div class = "profile">
	<div style = "margin:auto;width: 60%;"><h1>Контакты</h1>
		<p>
			Клуб Творчества Программистов ПетрГУ: <a href="http://acm.petrsu.ru">acm.petrsu.ru</a>
		</p>
		<p>
			Автор сайта &mdash; <a href="https://vk.com/tyanaofskyrim">Татьяна Ломазина</a>, магистрант ИМИТ,
			группа 22509. Создано для курса <a href="http://cs.petrsu.ru/~vadim/sd2017/">
			Технологии разработки сетевых сервисов</a>.
		</p>
	</div>
</div>
