<div class = "profile">
	<div style = "margin:auto;width: 60%;">
		<h1>Добро пожаловать</h1>
		<p>в систему регистрации на сборы и соревнования, проводимые
		<strong><a href="http://acm.petrsu.ru">Клубом Творчества Программистов</a></strong> Петрозаводского государственного университета.</p>
		<p>Здесь вы можете просмотреть списки мероприятий,
		а также зарегистрироваться на грядущие мероприятия.</p>
		<p>Обращайтесь к разделу <%= link_to 'Помощь', '/help' %>
		с вопросами по использованию системы.</p>
	</div>
</div>
