@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #777;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* navbar */

header {
	background-color: #f7f7f7;
	border-color: #e7e7e7 !important;
}

nav a {
	color: #555;
}

nav a:hover {
	color: #222;
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

footer a {
	color: #555;
}

footer a:hover {
	color: #222;
}

footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 15px;
}

/* tables */

table.listing {
	table-layout: fixed;
	width: 100%;
	white-space: nowrap;
}

table.listing th, td {
	padding: 10px;
	border-bottom: 1px solid #ddd;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

table.events tr td:nth-child(3){
	overflow: auto;
	text-overflow: initial;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

table.events tr th:nth-child(5){
	width: 100px;
}

table.events tr th:nth-child(6){
	width: 40px;
}

table.teams tr th:nth-child(4){
	width: 100px;
}

table.teams tr th:nth-child(5){
	width: 40px;
}

table.team tr th:nth-child(3){
	width: 160px;
}

table.team tr th:nth-child(4){
	width: 40px;
}

.listing td.no-overflow {
	overflow: visible;
	text-overflow: initial;
}

/* profile div */

div.profile {
	margin: 10px 0px;
	padding: 20px;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	border-color: #e7e7e7;
}

.profile h2 {
	text-align: left;
}

.profile h1 {
	margin-bottom: 5px;
}

div.contain {
	width: 400px;
	margin: auto;
}

/* error styling */

#error_explanation {
	color: red;
	text-align: left;
}
#error_explanation h2 {
	text-align: left;
	color: red;
	margin-bottom: 10px;
}

pre {
	width: 80%;
	margin: auto;
}

.btn {
	margin: 10px 0px;
}
