// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-legendary {
    color: red !important;
}

.user-red {
    color: red !important;
}

.user-fire {
    color: red !important;
}

.user-yellow {
    color: #bb0 !important;
}

.user-violet {
    color: #a0a !important;
}

.user-orange {
    color: #FF8C00 !important;
}

.user-blue {
    color: blue !important;
}

.user-cyan {
    color: #03A89E !important;
}

.user-green {
    color: green !important;
}

.user-gray {
    color: gray !important;
}
