<footer class="footer">
  <small>
    Регистрация на соревнования и сборы <a href="http://acm.petrsu.ru/">КТП</a>,
	<a href="https://vk.com/tyanaofskyrim">Татьяна Ломазина</a>, 2018
  </small>
  <nav>
    <ul>
      <li><%= link_to "Главная",   '/home' %></li>
      <li><%= link_to "Помощь",   '/help' %></li>
      <li><%= link_to "Контакты", '/contact' %></li>
    </ul>
  </nav>
</footer> 
